* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-size: 18px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenedor {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.site-header {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(83, 0, 0, 0)),
    url(../img_base/banner1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 40rem;
  width: 100vw;
}
@media (max-width: 600px) {
  .site-header {
    height: 50rem;
  }
}
h1 {
  font-size: 4.8rem;
}
.site-header a {
  color: #ffffff;
  text-decoration: none;
}

.site-header h1 {
  text-align: center;
  font-weight: 400;
}

.site-header h1 span {
  font-weight: 700;
}
.texto-header {
  color: #ffffff;
  text-align: center;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .texto-header {
    margin-top: 15rem;
  }
}

.texto-header p {
  font-size: 2.2rem;
}
.no-margin {
  margin: 0;
}

.header {
  height: 80px;
  width: 100%;
  background-color: black;
  border-radius: 3px;
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 3;
}
.header .logo {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.cart {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-radius: 3px;
  width: 80px;
}
.fa-solid {
  color: black;
}
.cart p {
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  background-color: black;
  color: white;
}
.container {
  display: flex;
  width: 100%;
  margin: auto auto 20px auto;
}
#root {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 0px 20px;
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  #root {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  .sidebar {
    position: inherit;
  }
}
.sidebar {
  width: 90%;
  border-radius: 5px;
  background-color: #eee;
  margin: 20px 20px;
  padding: 15px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
  height: max-content;
  top: 90px;
}
.head {
  background-color: black;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
}
.foot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid #333;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  max-height: 330px;
}
.img-box {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images {
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  object-position: center;
  position: relative;
  transition: 1s;
}
.img-box .images:hover {
  transform: scale(2);
  border-radius: 20px;
}
@media (max-width: 600px) {
  .img-box .images:active {
    animation: zum 5s
  }
  @keyframes zum {
    20%{
      transform: scale(2);
    }
    100%{
      transform: scale(2);
    }
  }
}

.bottom {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
h2 {
  font-size: 20px;
  color: red;
}
button {
  width: 100%;
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: black;
  padding: 7px 25px;
  cursor: pointer;
  color: white;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin: 10px 10px;
}
.row-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowimg {
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
}
.footer {
  background-color: rgb(14, 13, 13);
  padding: 3rem;
  width: 100vw;
}

.title-footer {
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-icons span {
  padding: 0px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.social-icons span a {
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook {
  background-color: #3b5998;
}

.whatsapp {
  background-color: #1a9435;
}

.youtube {
  background-color: #c4302b;
}

.pinterest {
  background-color: #c8232c;
}

.instagram {
  background: linear-gradient(
    #405de6,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #fcaf45
  );
}
